* {
    box-sizing: border-box;
    font-family: "Work Sans", serif;
}

body {
    background-color: #FFFFFF !important;
    margin: 0;
}

header {
    margin-bottom: 2rem;
}

.container {
    margin: 0 auto;
    width: 90%;
    padding: 1rem 3rem 0 3rem;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.car-rental {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.car-rental p {
    font-weight: 700;
    margin-left: 10px;
}

a {
    text-decoration: none;
}

ul {
    display: flex;
}

ul li {
    list-style-type: none;
}

ul li a {
    margin: 0 2rem 0 2rem;
    color: black;
}

.help {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.help p {
    margin: 5px;
}

.help-content {
    margin-left: 8px;
}

.help-content .phone-number {
    font-weight: 700;
}

main h1 {
    font-size: 50px;
    font-weight: 700;
    margin: 7rem 0 7rem 0;
    text-align: center;
}

.rent-car {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 3rem;
}

.left-part {
    width: 45%;
}

.left-part img {
    cursor: pointer;
    border-radius: 12px;
    height: 500px;
    width: 100%;
}

.left-part h2 {
    font-size: 40px;
}

.carousel {
    width: 75%;
    margin-top: 20px;
    gap: 1rem;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.carousel img {
    cursor: pointer;
    height: 100px;
    width: 100%;
    border-radius: 12px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.carousel img:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.zoom-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
    cursor: pointer;
}

.zoom-container img {
    width: 100%;
    height: 500px;
    object-fit: contain;
}

.zoom-container .contentZoom {
    position: relative;
}

.zoom-container .close {
    color: white;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    border-radius: 50%;
    background-color: red;
}

.right-part {
    width: 30%;
}

form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

form label {
    display: none;
}

form input[type="text"],
form input[type="email"] {
    width: 100%;
    padding: 0.8rem 1rem;
    border: none;
    border-radius: 12px;
    background-color: #f6f6f6;
    font-size: 0.95rem;
    font-family: 'Nunito Sans', sans-serif;
    outline: none;
    box-shadow: none;
}

form input::placeholder {
    color: black;
}

form .checkbox-wrapper {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-family: 'Nunito Sans', sans-serif;
    color: #444;
    font-size: 0.95rem;
}

form button {
    margin-top: 1rem;
    padding: 0.9rem;
    background-color: rgba(89, 55, 224, 1);
    color: white;
    border: none;
    border-radius: 12px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease;
    font-weight: 600;
}

form button:hover {
    background-color: #5822b5;
}

.error {
    color: red;
}

.hero {
    margin-top: 8rem;
    background-color: #5937E0;
    border-radius: 40px;
    padding: 2rem;
}

.hero h2 {
    margin: 0 0 2rem 0;
}

.hero .phone {
    font-size: 40px;
    margin-bottom: 0;
}

.hero-content {
    padding: 0 2rem 0 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.hero-left {
    width: 40%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.hero-left .all-cars {
    width: 154px;
}

.hero-title {
    font-size: 60px;
}

.hero-text {
    width: 464px;
    font-size: 16px;
    line-height: 24px;
}

.hero-right {
    width: 45%;
}

.price {
    font-size: 24px;
    font-weight: 600;
    color: rgba(89, 55, 224, 1);
}

.grey-span {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
}

.footer-content {
    margin: 7rem 0 7rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.card-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
}

.bold-text {
    font-weight: 600;
}

.card-footer p {
    margin: 0 0 8px 8px;
}

.copy {
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
}

.custom-alert {
    background-color: #e6f4ea;
    color: #256029;
    border: 1px solid #b7e0c0;
    padding: 16px;
    margin-top: 20px;
    border-radius: 8px;
    font-weight: 500;
    font-size: 16px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
    animation: fadeIn 0.4s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.btn-orange {
    margin-top: 20px;
    transition: 0.3s ease-in-out;
    display: inline-block;
    color: white;
    text-align: center;
    background-color: #FF9E0C;
    border-radius: 12px;
    padding: 10px;
    text-decoration: none;
}

.btn-orange:hover {
    opacity: 0.9;
    background-color: green;
}
