* {
    box-sizing: border-box;
    font-family: "Work Sans", serif;
}

body {
    background-color: #FFFFFF !important;
    margin: 0;
}

header {
    margin-bottom: 2rem;
}

.container {
    margin: 0 auto;
    width: 90%;
    padding: 1rem 3rem 0 3rem;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.car-rental {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.car-rental p {
    font-weight: 700;
    margin-left: 10px;
}

a {
    text-decoration: none;
}

ul {
    display: flex;
}

ul li {
    list-style-type: none;
}

ul li a {
    margin: 0 2rem 0 2rem;
    color: black;
}

.details {
    font-weight: 700;
}

.help {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.help p {
    margin: 5px;
}

.help-content {
    margin-left: 8px;
}

.help-content .phone-number {
    font-weight: 700;
}

.details-car {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 3rem;
}

.details-car .left-part {
    width: 45%;
}

.left-part img {
    cursor: pointer;
    border-radius: 12px;
    height: 450px;
    width: 100%;
}

.carousel {
    width: 75%;
    margin-top: 10px;
    gap: 1rem;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.carousel img {
    cursor: pointer;
    height: 100px;
    width: 100px;
    border-radius: 12px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.carousel img:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.zoom-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
    cursor: pointer;
}

.zoom-container img {
    width: 100%;
    height: 500px;
    object-fit: contain;
}

.zoom-container .contentZoom {
    position: relative;
}

.zoom-container .close {
    color: white;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    border-radius: 50%;
    background-color: red;
}

.right-part {
    width: 45%;
}

.right-part h2 {
    margin-bottom: 3rem;
}

.specs-content {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 3rem;
}

.specifications {
    border-radius: 12px;
    padding: 24px;
    background-color: rgba(250, 250, 250, 1);
}

.rent {
    width: 40% !important;
}

.car-equipment {
    margin-top: 3rem;
}

.car-equipment h4 {
    font-weight: 600;
    font-size: 24px;
}

.equipment-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.equipment {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.equipment span {
    margin-left: 10px;
}

.cars h2 {
    margin: 0;
    font-size: 50px;
}

.cars-top {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin: 3rem 0 3rem 0;
}

.link-cars {
    transition: 0.3s ease-in;
    color: black;
}

.link-cars:hover {
    color: green;
}

.grid-cars {
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(3, 1fr);
}

.grid-cars .vehicle-img {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    width: 100%;
    height: 330px;
}

.card-cars {
    border-radius: 12px;
    background-color: #FAFAFA;
}

.container-cars {
    margin-top: 1rem;
    padding: 0 2rem 0 2rem;
}

.top-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.content-cars h3, .price {
    font-size: 24px;
    margin: 0 0 10px 0;
}

.content-cars {
    display: flex;
    flex-direction: column;
}

.price {
    font-weight: 600;
    color: rgba(89, 55, 224, 1);
}

.grey-span {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
}

.icons {
    width: 20px;
    height: 20px;
}

.vehicle-details {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.details {
    display: flex;
    align-items: center;
}

.details span {
    margin-left: 8px;
}

.details-btn {
    transition: 0.3s ease;
    margin: 2rem 0 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    width: 100%;
    height: 50px;
    color: white;
    background-color: rgba(89, 55, 224, 1);
}

.details-btn:hover {
    background-color: darkblue;
}

.footer-content {
    margin: 7rem 0 7rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.card-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
}

.bold-text {
    font-weight: 600;
}

.card-footer p {
    margin: 0 0 8px 8px;
}

.copy {
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
}

.btn-orange {
    transition: 0.3s ease-in-out;
    display: inline-block;
    color: white;
    text-align: center;
    background-color: #FF9E0C;
    border-radius: 12px;
    padding: 10px;
    text-decoration: none;
}

.btn-orange:hover {
    opacity: 0.9;
    background-color: green;
}
